.bg-ff9285 {
  background-color: $custom-bg;
}
.btn-primary,
.btn-primary-1 {
  background-color: $custom-bg;
  border: none;
  border-radius: 0;
  padding: 1em;
  font-size: 1.15em;
  text-transform: uppercase;
  color: black;
  width: 10em;
}

.btn-primary-1 {
    border:2px solid black ;
}